*{
    margin: 0;
    padding: 0;
}

.main{
    height: 90vh;
    background-color: lightblue;
    width: 100%;
}

main > article{
    display: flex;
    width: 85%;
    border: 2px solid black;
    margin: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: (inherit -2px);
    border-radius: 4%;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

main > aside{
    display: flex;
    width: 15%;
    height: (inherit - 2px);
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 4.5%;
    margin: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex-direction: column;
}

aside > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.article-one, .article-two{
    max-width: 100%;
    padding: 1vw;
    text-align: center;
}

#VITLogo{
    display: flex;
    width: 15vw;
    margin-top: 10vh;
}

.welcome{
    align-content: center;
    font-size: 5em;
}