*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: lightgray;
    display: flex;
    width: 100%;
    height: 5vh;
}

.header-logo{
    display: flex;
    width: 10%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

nav{
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.header-items{
    display: flex;
    align-items: center;
    padding: 1vh;
}

.footer{
    display: flex;
    width: 15vw;
    justify-content: space-between;
    font-size: smaller;
    
}