article > div > div{
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    
    border: solid 1px black;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    color:white;
}

article > div > div:hover{
    background-color: mediumblue;
    color: darkorange;
    cursor: pointer;
}

article > div > div:active{
    background-color: red;
    color:black;
}

article > div{
    display: flex;
    justify-content: center;
}

